
@font-face {
    font-family: 'webdings';
    src: url('fonts/webdings.eot') format('embedded-opentype');
}


@font-face {
    font-family: 'webdings';
    src: url('fonts/webdings.svg') format('svg');
}

@font-face {
    font-family: 'webdings';
    src: url('fonts/webdings.ttf') format('truetype');
}


@font-face {
    font-family: 'webdings';
    src: url('fonts/webdings.woff') format('woff');
}

@font-face {
    font-family: 'webdings';
    src: url('fonts/webdings.woff2') format('woff2');
}

#ControlPanel {
    border: 3px solid;
    width: 700px;
    height: 320px;
    margin: auto;
    text-align: center;
    cursor: pointer;
}

    #ControlPanel > span {
        border: 2px solid;
        padding: 3px;
        box-shadow: 2px 2px 5px black;
        cursor: pointer;
        font-family: Webdings;
        font-size: 3rem;
        border-radius: 50%;
    }

#song, #info {
    width: inherit;
    font-size: 2rem;
    background-color: black;
    color: chartreuse;
    text-align: center;
}

.btnVol {
    border-radius: 50%;
    border: 1px groove white;
    box-shadow: 0px 0px 1px gray;
}

#volValue {
    width: 80%;
    height: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 3px solid #808080;
    background-color: #c8c8c8;
    outline: none;
}

    #volValue::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 35px;
        height: 25px;
        background-color: #4a4848;
        border: 3px groove white;
    }

    #volValue::-moz-range-thumb {
        -moz-appearance: none;
        width: 35px;
        height: 25px;
        background-color: #4a4848;
        border: 3px groove white;
    }


#volInfo {
    width: 22px;
    text-align: center;
    background-color: black;
    color: yellow;
}



#progress {
    width: inherit;
    height: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-bottom: 10px;
    background-color: #c8c8c8;
    outline: none;
}

    #progress::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 10px;
        height: 5px;
        background-color: #b60000;
        cursor: pointer;
        transition: .5s;
    }

        #progress::-webkit-slider-thumb:hover {
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }

#book > div {
    border: 1px groove;
    width: 348px;
    height: 200px;
    float: left;
}

    #book > div > div {
        border: 1px groove;
        background-color: burlywood;
    }

#book > button {
    clear: both;
    width: 100%;
    background-color: cornflowerblue;
    font-size: 16px;
    text-align: center;
    border: 3px groove white;
    color: white;
    font-weight: 900;
}

.hide {
    display: none;
}
