
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <form method="post" action="/MultiFileUpLoad/Create" enctype="multipart/form-data">
        請選擇您要上傳的檔案:
        <div id="fileArea">

        </div>
       
        <input id="Button1" type="button" value="增加一個檔案" onclick="addFileUpLoad()" />
        <input id="Submit1" type="submit" value="上傳檔案" />
     
    </form>
    <hr />
    <h2>@ViewBag.Message</h2>
    <hr />
    <a href="/MultiFileUpLoad/ShowPhoto">點我看圖片</a>

    <script>
        var fileArea = document.getElementById("fileArea");

        function addFileUpLoad() {
            var input = document.createElement("input");
            var br = document.createElement("br");
            input.type = "file";
            input.name = "photo";
            fileArea.appendChild(input);
            fileArea.appendChild(br);
        }
    </script>
</body>
</html>
