@model IEnumerable<_02View.Models.NightMarket>

@{
    ViewBag.Title = "台南高雄各大夜市列表";
}

<h2>台南高雄各大夜市列表</h2>

<p>
    @* Html Helper *@ 
    @*@Html.ActionLink("新增資料", "Create")

    <a href="/Home/Create">新增資料</a>*@
</p>
<table class="table">
    <tr>
        @*//03-2-4 增加兩項<th>標籤*@
        <th>
            編號
        </th>
        <th>
            夜市名稱
        </th>
        <th>
            夜市地址
        </th>
        <th>
            照片
        </th>
        <th>
            地圖
        </th>
        <th>
            資料管理
        </th>
    </tr>
    @*//03-2-2 增加item.Id, 並將最後一欄註解*@
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Address
            </td>
            <td>
                @*//03-2-5 讀取圖片檔名*@
                @*//03-2-6 增加圖片及地圖顯示*@
                <img src="~/images/@(item.Id).jpg" width="150" />
            </td>
            <td>
                <a href="https://www.google.com.tw/maps/search/@item.Address" target="_blank" class="btn btn-danger">我要看地圖</a>
            </td>
            <td>
                @*@Html.ActionLink("編輯", "Edit", new { id = item.Id }) |*@
                @Html.ActionLink("詳細資料", "Details", new { NMid = item.Id }) |
                @*@Html.ActionLink("刪除", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>
