
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>上傳檔案</title>
</head>
<body>
    <form method="post" action="/FileUpLoad/Create" enctype="multipart/form-data">
        請選擇您要上傳的檔案:
        <input id="photo" name="photo" type="file" />
        <input id="Submit1" type="submit" value="上傳檔案" />
    </form>
    <hr />
    <h2>@ViewBag.Message</h2>
    <hr />
    <a href="/FileUpLoad/ShowPhoto">點我看圖片</a>
</body>
</html>
